@charset "UTF-8"; /* Zeichenkodierung */

* { margin: 0; padding: 0; } /* Standardmäßig ist der Außen- und Innenabstand der Elemente 0 */

@font-face { /* Einbinden der Schriftart Lobster von Pablo Impallari zum Herunterladen auf http://impallari.com/lobster unter der SIL Open Font License, Version 1.1 */
  font-family: 'Lobster'; /* Name der Schriftart */
  font-style: normal; /* nicht kursiv, normal */
  font-weight: normal; /* normale Schriftdicke */
  src: local('Lobster'), url('lobster.otf') format('opentype'), url('lobster.svg#Lobster') format('svg'); /* Versucht zuerst, die Schriftart auf dem Computer zu finden, ansonsten wird sie heruntergeladen */
}


body { /* Das sichtbare Dokument */
	background: center repeat url(wood.jpg); /* Textur (zu finden auf http://textures.z7server.com/nTextures.php?id=10): Bild "wood.jpg", zu finden im selben Verzeichnis wie diese Datei, zentriert, wiederholend in x- und y-Richtung */
	font-family: Helvetica, Arial, sans-serif; /* Schriftart: Nimm die Helvetica, wenn sie auf dem Rechner installiert ist, andernfalls die Arial, und wenn die auch nicht installiert ist nimm irgendeine serifenlose Schrift */
}

/* GitHub */
#github { /* Element mit der id "github" */
	display: block; /* Block-Element, kommt nicht innerhalb einer Zeile vor (Inline-Element). Links sind standardmäßig Inline-Elemente */
	position: absolute; /* Element wird absolut positioniert, das heißt außerhalb des normalen Flusses von oben nach unten */
	right: 0; top: 0; /* Element ist in der rechten, oberen Ecke (wörtlich: Abstand vom rechten und oberen Rand ist 0) */
}
#github img { /* Das Bild mit der Ecke */
	border: 0; /* Standardmäßig haben Bilder innerhalb von Links einen blauen Rahmen */
}


#wrapper { /* "Element, das andere umschließt" */
	margin: 0 auto; /* horizontal zentriert (wörtlich: Außenabstand oben und unten ist 0, links und rechts ist "auto") */
	width: 351px; /* Breite von 351 Pixeln */
}

h1, #game, #controls { margin: 15px 0; } /* Die Überschrift, das Spielfeld und die Knöpfe halten einen Abstand von 15 Pixeln nach oben und unten zum nächstfolgenden Element oder Fensterrand ein. */
h1 { /* Die Überschrift */
	color: #fff; /* Schriftfarbe: #fff ist die Kurznotation von #ffffff, was für den RGB-Wert 255, 255, 255 (weiß) steht (jeweils zwei Buchstaben oder Ziffern bilden eine Nummber von 0-255 im Hex-Format) */
	font: 50px Lobster, Palatino, Georgia, "Times New Roman", serif; /* 50 Pixel große Schrift der Schriftart "Lobster" mit Ersatzschriftarten */
}
#game, button { /* Das Spielfeld und die Knöpfe … */
	box-shadow:         2px 2px 18px #200b00; /* … besitzen einen Schlagschatten in der Farbe #200b00, der 2px horizontal und vertikal versetzt ist und einen Unschärfebereich der Breite 18 Pixel hat */
	-webkit-box-shadow: 2px 2px 18px #200b00; /* Für Webkit-Browser (Apple Safari, Google Chrome) */
	-moz-box-shadow:    2px 2px 18px #200b00; /* Für den Firefox */
}
#controls { /* Das Element, das die Buttons beinhaltet */
	text-align: center; /* Text im Element ist zentriert */
}
button { /* Jeder Knopf */
	display: inline-block; /* Buttons werden im Textfluss angezeigt */
	padding: 8px; /* Innenabstand: zu allen Seiten 8 Pixel */
	margin: 0 5px; /* Außenabstand: nach links und rechts 5 Pixel */
	border: 1px solid #333; /* Eine 1 Pixel breite Umrandung in der Farbe #333 (dunkelgrau) */
	border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; /* Abgerundete Ecken mit Rundungsradius 5 Pixel, Versiion für Webkit und den Firefox */
	background: #555; color: #fff; /* dunkelgrauer Hintergrund, Text ist weiß */
	font-size: 14px; /* Schriftgröße: 14 Pixel */
}
button:active { /* Jeder Knopf, wenn auf ihn gerade geklickt wird … */
	background: #333; /* hat eine dunkele Hintergrundfarbe */
}

@media only screen and (max-device-width: 480px) { /* Weiche für das iPhone */
	#github { /* "Element, das andere umschließt */
		display: none !important; /* nicht anzeigen */
	}
	#wrapper { /* "Element, das andere umschließt */
		width: 301px; /* Breite von nur 301 Pixeln */
	}
	#game, .meisterhirn {
		-webkit-user-select: none; /* kann nicht markiert werden */
	}
}
